<%- include("partials/header.ejs",{title:"Dokter"}) %>

  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Dokter</a>
        </li>
        <li class="breadcrumb-item active">Add</li>
      </ol>
    </div>
    <div class="card-body">
    <form action="/dokters/schedule/edit/<%= rows.id %>" method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">Jam Buka</label>
          <input type="text" name="jambuka" value="<%= rows.jambuka %>">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Jam Tutup</label>
          <input type="text" name="jamtutup" value="<%= rows.jamtutup %>">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Hari</label>
          <select name="HariId">
            <% dataHari.forEach((row) =>{ %>

              <% if(row.id == rows.HariId) { %>

                <option value="<%= row.id %>" selected><%= row.hari %> </option>
              
              <% } else { %>

                <option value="<%= row.id %>"><%= row.hari %></option>

            <% } } ) %>
          </select>
      </div>
      <div class="form-group">
          <input type="submit" value="SUBMIT">
      </div>
    </form>
  </div>
</div>

<%- include partials/footer.ejs %>