<<<<<<< HEAD
<%- include("partials/headerpasien.ejs",{title:"Dokter"}) %>

  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Pasien</a>
        </li>
        <li class="breadcrumb-item active">Edit</li>
      </ol>
    </div>
    <div class="card-body">
      <% if(err){ %>
        <%= err %>
      <% } %>
      <div class="table-responsive">
          <form action="/pasiens/edit/<%= rows.id %>" method="post">
            <td><input type="text" name="name" value="<%= rows.name %>"></td><br><br>
            <td><input type="text" name="contact" value="<%= rows.contact %>"></td><br><br>
            <td><input type="text" name="email" value="<%= rows.email %>"></td><br><br>
            <td><input type="submit" value="edit"></td>
          </form>
      </div>
    </div>
  </div>

<%- include partials/footer.ejs %>