<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dokter</title>
  </head>
  <body>
    <div align="center">
      <a href="pasiens/add">ADD PASIEN</a>
    </div>
    <table align="center">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
      <%

        let no = 1;

        rows.forEach(function(row) {

      %>
      <tr>
        <td><%= no %> </td>
        <td><%= row.name %> </td>
        <td><%= row.contact %> </td>
        <td><%= row.email %></td>
        <td> <a href="/pasiens/edit/<%=row.id%>"> edit</a> <a href="/pasiens/delete/<%=row.id%>">delete</a> </td>
      </tr>
      <%

      no++;

      })

      %>
    </table>
  </body>
</html>
