<%- include("partials/header.ejs",{title:"Dokter"}) %>

  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Pasien</a>
        </li>
      </ol>
    </div>
    <div class="card-body">
      <% if(err){ %>
        <%= err %>
          <% } %>

              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <th>Nama</th>
            <th>contact</th>
            <th>email</th>
            <th>kategori</th>
          </tr>
          <tr>
            <td><%= rows.name %></td>
            <td><%= rows.contact %></td>
            <td><%= rows.email %></td>
            <td><%= rows.Kategori.kategori %> </td>
            <td><a href="/dokters/profile/edit">Edit</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

<%- include partials/footer.ejs %>
